<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-primary no-after mb-5">
							SERVICES
						</h2>
						<p class="subheading">Nous offrons des servicces professionnels</p>
					</div>
				</div>
				
				<div class="row mt-5">
					<!-- Item 1 -->
					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="feature-box-7 shadow">
							<div class="media-box">
								<a href="{{ path('services') }}"><img src="{{ asset('frontend/images/service-img-1.jpg') }}" alt="" class="img-fluid"></a>
							</div>
							<div class="body">
								<div class="info-box">
									<div class="text">
										<div class="title">Mechanical Engineering</div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry orem Ipsum has been. </p>
										<a href="{{ path('services_detail') }}" class="btn btn-secondary" title="Get Detail">Get Detail</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>