{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <!-- BANNER -->
    <div id="home" class="banner">
    	<div class="owl-carousel owl-theme full-screen">
    		<!-- Item 1 -->
	    	<div class="item">
	        	<img src="{{ asset('frontend/images/home01.jpg') }}" alt="Slider">
	        	<div class="container d-flex align-items-center h-right">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading text-white">ISS  <span>Toujours prets à vous servir</span></h1>
		                <p class="uk18 text-white">Notre équipe professionnelle travaille pour augmenter la productivité et la rentabilité sur le marché</p>
		                <a href="#" class="btn btn-primary text-white">Nous contacter</a> 
		                <a href="#" class="btn btn-secondary">Lire plus</a>
		            </div>   
	            </div>
	    	</div>
	    	<!-- Item 2 -->
	    	<div class="item">
	            <img src="{{ asset('frontend/images/home02.jpeg') }}" alt="Slider">
	            <div class="container d-flex align-items-center h-center">
	            	<div class="wrap-caption">
		               <h1 class="caption-heading text-white">ISS  <span>Industrial Solutions and Services</span></h1>
		                <p class="uk18 text-white">Efficacité et fournisseur de services digne de confiance</p>
		                <a href="#" class="btn btn-primary text-white">Nous contacter</a> 
		                <a href="#" class="btn btn-secondary">Voir plus</a>
		            </div>  
	            </div>
			</div> 
			<!-- Item 3 -->
	    	<div class="item">
	            <img src="{{ asset('frontend/images/home03.jpg') }}" alt="Slider">
	            <div class="container d-flex align-items-center h-center">
	            	<div class="wrap-caption">
		               <h1 class="caption-heading text-white">ISS  <span>Industrial Solutions and Services</span></h1>
		                <p class="uk18 text-white">Efficacité et fournisseur de services digne de confiance</p>
		                <a href="#" class="btn btn-primary text-white">Nous contacter</a> 
		                <a href="#" class="btn btn-secondary">Voir plus</a>
		            </div>  
	            </div>
	        </div>
    	</div>
	    <div class="custom-nav owl-nav"></div>
	</div>	
	
	<div class="section">
		{% include "partials/apropos.html.twig" %}
	</div>

	<div class="section">
		{% include "partials/service.html.twig" %}
	</div>

{% endblock %}
