{% extends 'base.html.twig' %}

{% block title %}Hello FaqsController!{% endblock %}

{% block body %}
    <!-- BANNER -->
	<div class="section banner-page" data-background="{{ asset('frontend/images/banner.jpg') }}">
		<div class="content-wrap pos-relative">
			<div class="container">
				<div class="col-12 col-md-12">
					<div class="d-flex bd-highlight mb-2">
						<div class="title-page">Faq</div>
					</div>
					<nav aria-label="breadcrumb">
					  <ol class="breadcrumb ">
					    <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
					    <li class="breadcrumb-item active" aria-current="page">Faq</li>
					  </ol>
					</nav>
				</div>
			</div>
			
		</div>
	</div>

    <div class="section">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					
					<div class="col-12 col-sm-12 col-md-6">
						
						<div class="accordion rs-accordion-2" id="accordionExample">
						   <!-- Item 1 -->
						   <div class="card">
						      <div class="card-header" id="headingOne">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						            01. Clean & Profesional Design
						            </button>
						         </h3>
						      </div>
						      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						         <div class="card-body">
						            Create and publilsh dynamic websites for desktop, tablet, and mobile devices that meet the latest web standards- without writing code. Design freely using familiar tools and hundreds of web fonts. easily add interactivity, including slide shows, forms, and more.
						         </div>
						      </div>
						   </div>
						   <!-- Item 2 -->
						   <div class="card">
						      <div class="card-header" id="headingTwo">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						            02. Top Week Selling on Themeforest
						            </button>
						         </h3>
						      </div>
						      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						         <div class="card-body">
						            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						         </div>
						      </div>
						   </div>
						   <!-- Item 3 -->
						   <div class="card">
						      <div class="card-header" id="headingThree">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						            03. Responsive Layout
						            </button>
						         </h3>
						      </div>
						      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						         <div class="card-body">
						            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
						            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
						         </div>
						      </div>
						   </div>
						   <!-- Item 4 -->
						   <div class="card">
						      <div class="card-header" id="headingFour">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						            04. Responsive Layout
						            </button>
						         </h3>
						      </div>
						      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
						         <div class="card-body">
						            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
						            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
						         </div>
						      </div>
						   </div>
						   <!-- Item 5 -->
						   <div class="card">
						      <div class="card-header" id="headingFive">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						            05. Responsive Layout
						            </button>
						         </h3>
						      </div>
						      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
						         <div class="card-body">
						            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
						            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
						         </div>
						      </div>
						   </div>
						</div>
						<!-- end accordion -->

					</div>

					<div class="col-12 col-sm-12 col-md-6">
						
						<div class="accordion rs-accordion-2" id="accordion2">
						   <!-- Item 1 -->
						   <div class="card">
						      <div class="card-header" id="heading_1">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
						            01. Clean & Profesional Design
						            </button>
						         </h3>
						      </div>
						      <div id="collapse_1" class="collapse" aria-labelledby="heading_1" data-parent="#accordion2">
						         <div class="card-body">
						            Create and publilsh dynamic websites for desktop, tablet, and mobile devices that meet the latest web standards- without writing code. Design freely using familiar tools and hundreds of web fonts. easily add interactivity, including slide shows, forms, and more.
						         </div>
						      </div>
						   </div>
						   <!-- Item 2 -->
						   <div class="card">
						      <div class="card-header" id="heading_2">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
						            02. Top Week Selling on Themeforest
						            </button>
						         </h3>
						      </div>
						      <div id="collapse_2" class="collapse" aria-labelledby="heading_2" data-parent="#accordion2">
						         <div class="card-body">
						            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						         </div>
						      </div>
						   </div>
						   <!-- Item 3 -->
						   <div class="card">
						      <div class="card-header" id="heading_3">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
						            03. Responsive Layout
						            </button>
						         </h3>
						      </div>
						      <div id="collapse_3" class="collapse" aria-labelledby="heading_3" data-parent="#accordion2">
						         <div class="card-body">
						            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
						            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
						         </div>
						      </div>
						   </div>
						   <!-- Item 4 -->
						   <div class="card">
						      <div class="card-header" id="heading_4">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
						            04. Responsive Layout
						            </button>
						         </h3>
						      </div>
						      <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion2">
						         <div class="card-body">
						            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
						            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
						         </div>
						      </div>
						   </div>
						   <!-- Item 5 -->
						   <div class="card">
						      <div class="card-header" id="heading_5">
						         <h3 class="title">
						            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
						            05. Responsive Layout
						            </button>
						         </h3>
						      </div>
						      <div id="collapse_5" class="collapse" aria-labelledby="heading_5" data-parent="#accordion2">
						         <div class="card-body">
						            <p>Unzip the file, locate Html file and double click the file and you will directly to adobe Html. Next step you can modifications our template, you can customize color, text, font, content, logo and image with your need using familiar tools on adobe Html without writing any code.</p>
						            <p>You can't re-distribute the Item as stock, in a tool or template, or with source files. You can't re-distribute or make available the Item as-is or with superficial modifications. These things are not allowed even if the re-distribution is for Free.</p>
						         </div>
						      </div>
						   </div>
						</div>
						<!-- end accordion -->

					</div>

				</div>

			</div>
		</div>
	</div>   
{% endblock %}
